numpy==1.26.4
pandas==2.2.3
Pillow==11.0.0
opencv-python-headless==4.10.0.84
torch==2.5.1
torchvision==0.20.1
streamlit==1.41.1
psycopg[binary]==3.2.3
networkx==3.4.2
kagglehub==0.3.6
jupyterlab==4.3.4
matplotlib==3.9.3
